This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [5]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'vq_k_-sidSPNHLeBVV8a'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [18]:
# First, import the relevant modules
import requests
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [45]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
r = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X?start_date=2017-01-01&end_date=2017-12-31&api_key=vq_k_-sidSPNHLeBVV8a')

In [46]:
rj = r.json()

In [47]:
type(rj)

dict

In [94]:
data = pd.DataFrame(r.json()['dataset']['data'], columns=['Date',
   'Open','High','Low','Close','Change','Traded Volume','Turnover',
   'Last Price of the Day','Daily Traded Units','Daily Turnover'])

In [97]:
data = data.iloc[:,:7]

In [98]:
data.head()

         Date   Open   High    Low  Close  Change  Traded Volume
0  2017-12-29  51.76  51.94  51.45  51.76     NaN        34640.0
1  2017-12-28  51.65  51.82  51.43  51.60     NaN        40660.0
2  2017-12-27  51.45  51.89  50.76  51.82     NaN        57452.0
3  2017-12-22  51.05  51.50  50.92  51.32     NaN        71165.0
4  2017-12-21  51.16  51.52  50.90  51.40     NaN       120649.0

In [44]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

3.The highest and lowest opening prices for the stock in this period

In [68]:
print('The highest opening price is ' + str(max(data['Open'])))
print('The lowest opening price is ' + str(min(data['Open'])))

The highest opening price is 53.11
The lowest opening price is 34.0

4.The largest change in a day

In [77]:
print('The largest change in a day is ' + str(max((data['Open'] - data['Close']).abs())))

The largest change in a day is 1.6899999999999977

5.The largest change between any two days

In [82]:
data2 = data.set_index('Date')

In [83]:
stock = data2.Close

In [86]:
mini = stock.cummin()

In [87]:
print(stock.head())
print(mini.head())

Date
2017-12-29    51.76
2017-12-28    51.60
2017-12-27    51.82
2017-12-22    51.32
2017-12-21    51.40
Name: Close, dtype: float64
Date
2017-12-29    51.76
2017-12-28    51.60
2017-12-27    51.60
2017-12-22    51.32
2017-12-21    51.32
Name: Close, dtype: float64

In [92]:
max((stock - mini).abs())

5.979999999999997

In [89]:
maxi = stock.cummax()

In [91]:
print(stock.head())
print(maxi.head())

Date
2017-12-29    51.76
2017-12-28    51.60
2017-12-27    51.82
2017-12-22    51.32
2017-12-21    51.40
Name: Close, dtype: float64
Date
2017-12-29    51.76
2017-12-28    51.76
2017-12-27    51.82
2017-12-22    51.82
2017-12-21    51.82
Name: Close, dtype: float64

In [90]:
max((maxi - stock).abs())

19.03

In [93]:
print('The largest change between any two days is ' + str(max(max((stock - mini).abs()),max((maxi - stock).abs()))))

The largest change between any two days is 19.03

6.The average daily trading volume during this year

In [101]:
(data['Traded Volume']).mean()

89124.33725490196